@font-face {
  font-family: "futura-bold-bt";
  src: url("../assets/fonts/futura-bold-bt.ttf") format("truetype");
}

@font-face {
  font-family: "futura-light-bt";
  src: url("../assets/fonts/futura-light-bt.ttf") format("truetype");
}

@font-face {
  font-family: "futurabq-medium";
  src: url("../assets/fonts/futurabq-medium.otf") format("opentype");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../assets/fonts/Gotham-Medium.otf") format("opentype");
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  line-height: 2rem;
  background-color: white;
  padding: 1rem 9rem;
  -webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.3);
  font-family: "futura-light-bt";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #header-logo {
  height: 2rem;
}

nav span.header-links {
  height: auto;
}

nav span.header-links img {
  width: 20px;
  height: 21px;
  margin-right: 0.4rem;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

nav span.header-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  margin-right: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: capitalize;
}

nav span.header-links a:hover {
  font-weight: bold;
}

nav span.header-links p {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: #ed7102;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav span.header-links p:hover {
  font-weight: bold;
}

nav span.header-links span#phone {
  cursor: pointer;
}

nav span.header-small {
  display: none;
}

nav span.header-small img {
  height: 25px;
  width: 25px;
  padding: 0.2rem 0 0.2rem 0.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

div.header_img-container {
  height: 100vh;
  width: 100%;
  padding-top: 4rem;
  background: url("../assets/group@3x.png");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

div.header_img-container div.background-image {
  background: url("../assets/group@3x.png");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

div.header_img-container div.header_text-container {
  height: 100%;
  width: 70%;
  padding: 0 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.header_img-container div.header_text-container h1 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.29;
  margin: 1rem 0;
}

div.header_img-container div.header_text-container h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

div.header_img-container div.header_text-container a {
  margin: 3.5rem 0;
}

@media screen and (min-width: 1800px) {
  nav {
    padding: 1rem 9rem;
  }
  div.header_img-container div.header_text-container {
    padding: 0 9rem;
  }
}

@media screen and (max-width: 1800px) {
  nav {
    padding: 1rem 7.5rem;
  }
  div.header_img-container div.header_text-container {
    padding: 0 7.5rem;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    padding: 1rem 4.5rem;
  }
  div.header_img-container div.header_text-container {
    padding: 0 4.5rem;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 1rem 4rem;
  }
  nav #header-logo {
    height: 1.3rem;
  }
  nav span.header-links a {
    margin-right: 0.8rem;
  }
  div.header_img-container div.header_text-container {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 1rem;
  }
  nav span.header-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: rgba(0, 95, 150, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav span.header-links span#phone {
    display: none;
  }
  nav span.header-links a {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    font-family: "futura-light-bt";
    line-height: normal;
    letter-spacing: normal;
  }
  nav span.header-links a:hover {
    font-weight: bold;
  }
  nav span.header-small {
    display: block;
  }
  div.header_img-container {
    background-image: none;
    height: auto;
  }
  div.header_img-container div.background-image {
    height: 40vh;
  }
  div.header_img-container div.header_text-container {
    height: auto;
    width: 100%;
    padding: 2rem 1rem;
  }
  div.header_img-container div.header_text-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #005f96;
    font-family: "futura-bold-bt";
    line-height: normal;
    letter-spacing: normal;
    line-height: 1.35;
    margin: 1rem 0;
  }
  div.header_img-container div.header_text-container h3 {
    font-size: 1.3rem;
    font-weight: 300;
    color: #005f96;
    font-family: "futura-light-bt";
    line-height: normal;
    letter-spacing: normal;
    margin: 0.5rem 0;
    line-height: 1.18;
    text-transform: capitalize;
  }
  div.header_img-container div.header_text-container a {
    margin: 2rem 0 1rem;
  }
}

section.about {
  width: 100%;
  margin: 2rem 0 0 0;
}

section.about h3.about-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

section.about h5.about-subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 3rem;
}

section.about div.about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about div.about-container div.about-slide-container {
  width: 50%;
}

section.about div.about-container div.about-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (minmax(170px, 1fr))[3];
      grid-template-rows: repeat(3, minmax(170px, 1fr));
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0 2rem 13rem;
}

section.about div.about-container div.about-left div.info {
  padding: 1.5rem 1rem;
}

section.about div.about-container div.about-left div.info h4.info-title {
  font-size: 1.3rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  border-bottom: 3px solid #005f96;
  padding-bottom: 0.5rem;
}

section.about div.about-container div.about-left div.info h4.info-title span.large {
  font-size: 2.5rem;
  font-weight: 500;
  color: #005f96;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
}

section.about div.about-container div.about-left div.info h5.info-desc {
  font-size: 1.3rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  padding: 1rem 0;
}

section.about div.about-container div.about-left div.info h4.font-white {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ffffff;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  border-bottom: 3px solid #ffffff;
}

section.about div.about-container div.about-left div.info h4.font-white span.large {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
}

section.about div.about-container div.about-left div.info h5.font-white {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ffffff;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
}

section.about div.about-container div.about-left div.spanner {
  display: none;
}

section.about div.about-container div.about-left #info1,
section.about div.about-container div.about-left #info4 {
  background-color: #a5d2d2;
}

section.about div.about-container div.about-left #info2,
section.about div.about-container div.about-left #info5 {
  background-color: #005f96;
}

section.about div.about-container div.about-left #info3,
section.about div.about-container div.about-left #info6 {
  background-color: #37afb9;
}

section.about div.about-container div.about-right {
  width: 50%;
  padding: 1rem 13rem 2rem 4rem;
}

section.about div.about-container div.about-right h3.about-desc-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #005f96;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0.8rem;
}

section.about div.about-container div.about-right h4.about-desc-desc {
  font-size: 1.1rem;
  font-weight: 500;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 2rem;
  line-height: 1.17;
}

section.about div.about-container div.about-right div.about-right-expander {
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

section.about div.about-container div.about-right div.expand-about {
  display: none;
  padding: 1rem 0 0.5rem 0;
}

section.about div.about-container div.about-right div.expand-about h3.expand {
  font-size: 0.9rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
}

section.about div.about-container div.about-right div.expand-about .expand-arrow {
  height: 10px;
  width: 8px;
  padding: 0.3rem 0.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section.about a#about-btn {
  text-align: center;
  margin: 1rem auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1400px) {
  section.about div.about-container div.about-left {
    padding: 1rem 0 2rem 9rem;
  }
  section.about div.about-container div.about-right {
    padding: 1rem 9rem 2rem 4rem;
  }
}

@media screen and (max-width: 1300px) {
  section.about div.about-container div.about-left {
    padding: 1rem 0 2rem 8rem;
  }
  section.about div.about-container div.about-right {
    padding: 1rem 8rem 2rem 4rem;
  }
}

@media screen and (max-width: 1200px) {
  section.about div.about-container div.about-left {
    padding: 1rem 0 2rem 6rem;
  }
  section.about div.about-container div.about-right {
    padding: 1rem 6rem 2rem 3rem;
  }
}

@media screen and (max-width: 1070px) {
  section.about div.about-container div.about-left {
    padding: 1rem 0 2rem 5rem;
  }
  section.about div.about-container div.about-right {
    padding: 1rem 5rem 2rem 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  section.about div.about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.about div.about-container div.about-slide-container {
    width: 90.7%;
    margin: 2rem 2rem;
  }
  section.about div.about-container div.about-slide-container button.indicator {
    background-color: #a5d2d2;
  }
  section.about div.about-container div.about-slide-container button.active-indicator {
    background-color: #005f96;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 0 0 2px #005f96;
            box-shadow: 0 0 0 2px #005f96;
  }
  section.about div.about-container div.about-left {
    padding: 0;
    display: block;
    overflow: hidden;
  }
  section.about div.about-container div.about-left div.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about div.about-container div.about-left div.info div.info-margin {
    display: inline-block;
  }
  section.about div.about-container div.about-left div.spanner {
    display: block;
    -webkit-box-flex: 0.05;
        -ms-flex: 0.05;
            flex: 0.05;
    width: 0.5rem;
  }
  section.about div.about-container div.about-right {
    width: 100%;
    padding: 2rem 2rem;
  }
  section.about div.about-container div.about-right div.about-right-expander {
    height: 7.3rem;
    overflow: hidden;
  }
  section.about div.about-container div.about-right div.expand-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  section.about div.about-container div.about-slide-container {
    width: 100%;
    margin: 0;
  }
  section.about div.about-container div.about-slide-container div.about-left {
    width: 100%;
    padding: 2rem 0rem;
  }
  section.about div.about-container div.about-right {
    width: 100%;
    padding: 2rem 1rem;
  }
}

section.benifits {
  background-color: #37afb9;
  padding: 4rem 9rem;
}

section.benifits h2.benifit-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 2rem;
}

section.benifits div.benifit-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

section.benifits div.benifit-container div.benifit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.benifits div.benifit-container div.benifit img.benigit-icon {
  width: 6rem;
  height: 6rem;
}

section.benifits div.benifit-container div.benifit h3.benifit-title {
  font-size: 1.15rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
  margin: 1.5rem 0;
}

section.benifits div.benifit-container div.benifit p.benifit-desc {
  font-size: 1.15rem;
  font-weight: 300;
  color: #ffffff;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

@media screen and (min-width: 1800px) {
  section.benifits {
    padding: 4rem 9rem;
  }
}

@media screen and (max-width: 1800px) {
  section.benifits {
    padding: 4rem 7.5rem;
  }
}

@media screen and (max-width: 1200px) {
  section.benifits {
    padding: 4rem 4.5rem;
  }
  section.benifits div.benifit-container {
    gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  section.benifits {
    padding: 4rem 4rem;
  }
  section.benifits div.benifit-container {
    gap: 2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 800px) {
  section.benifits {
    padding: 4rem 1rem;
  }
}

section.carousel {
  background-color: #005f96;
  width: 100%;
  padding-bottom: 4rem;
}

section.carousel div.slides-container div.slide {
  margin: 4rem 25rem 1rem;
}

section.carousel div.slides-container div.slide h4.slide-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

section.carousel div.slides-container div.slide h5.slide-desc {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 2rem 4rem;
  line-height: 1.33;
}

@media screen and (max-width: 1200px) {
  section.carousel div.slides-container div.slide {
    margin: 4rem 17rem 1rem;
  }
}

@media screen and (max-width: 1000px) {
  section.carousel div.slides-container div.slide {
    margin: 4rem 8rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  section.carousel div.slides-container div.slide {
    margin: 4rem 3rem 1rem;
  }
}

section.portal {
  margin-bottom: 9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section.portal div.portal-left {
  width: 50%;
  background-color: #37afb9;
  padding: 4rem 12rem 7rem 7.5rem;
}

section.portal div.portal-left h3.portal-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
  margin-bottom: 2rem;
}

section.portal div.portal-left h4.portal-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 2rem;
}

section.portal div.portal-left p.portal-desc {
  font-size: 1.1rem;
  font-weight: 300;
  color: #ffffff;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
  margin-bottom: 2rem;
}

section.portal div.portal-right {
  width: 50%;
  background-color: #a5d2d2;
  padding: 4rem 7.5rem 9rem 4rem;
}

section.portal div.portal-right div.point-expand {
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

section.portal div.portal-right div.portal-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

section.portal div.portal-right div.portal-point img.arrow {
  height: 10px;
  width: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.5rem 0.8rem 0 1.2rem;
}

section.portal div.portal-right div.portal-point h4.point-desc {
  font-size: 1.3rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.25;
}

section.portal div.portal-right div.expand-portal {
  display: none;
}

section.portal div.portal-right div.expand-portal h3.expand {
  font-size: 0.9rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
}

section.portal div.portal-right div.expand-portal .expand-arrow {
  height: 10px;
  width: 8px;
  padding: 0.3rem 0.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section.portal img.tablet {
  position: absolute;
  height: 350px;
  bottom: -150px;
  left: 35%;
}

@media screen and (min-width: 1800px) {
  section.portal div.portal-left {
    padding: 4rem 12rem 7rem 9rem;
  }
  section.portal div.portal-right {
    padding: 4rem 9rem 9rem 4rem;
  }
}

@media screen and (max-width: 1800px) {
  section.portal div.portal-left {
    padding: 4rem 12rem 7rem 7.5rem;
  }
  section.portal div.portal-right {
    padding: 4rem 7.5rem 9rem 4rem;
  }
}

@media screen and (max-width: 1200px) {
  section.portal div.portal-left {
    padding: 4rem 9.5rem 7rem 4.5rem;
  }
  section.portal div.portal-right {
    padding: 4rem 4.5rem 9rem 4rem;
  }
}

@media screen and (max-width: 1000px) {
  section.portal div.portal-left {
    padding: 4rem 8rem 7rem 4rem;
  }
  section.portal div.portal-right {
    padding: 4rem 4rem 9rem 4rem;
  }
  section.portal img.tablet {
    position: absolute;
    height: 320px;
    bottom: -150px;
    left: 31.5%;
  }
}

@media screen and (max-width: 800px) {
  section.portal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0rem;
  }
  section.portal div.portal-left {
    width: 100%;
    padding: 4rem 1rem;
  }
  section.portal div.portal-right {
    width: 100%;
    padding: 4rem 1rem;
  }
  section.portal div.portal-right div.point-expand {
    -webkit-animation: all 0.3s ease-in-out;
            animation: all 0.3s ease-in-out;
    height: 0;
    overflow: hidden;
  }
  section.portal div.portal-right div.expand-portal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.portal img.tablet {
    display: none;
  }
}

section.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

section.services div.services-desc {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.5rem 5rem 2rem 7.5rem;
}

section.services div.services-desc h3.services-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  padding: 0 0 2.5rem 0;
  line-height: 1.33;
}

section.services div.services-desc h4.services-title-desc {
  font-size: 1.1rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
  padding: 0 0 2.5rem 0;
}

section.services div.services-desc div.expand {
  display: none;
  padding: 0 0 2.5rem 0;
}

section.services div.services-desc div.expand h3.expand {
  font-size: 0.9rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
}

section.services div.services-desc div.expand .expand-arrow {
  height: 10px;
  width: 8px;
  padding: 0.3rem 0.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section.services div.services-desc div.services-container {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section.services div.services-desc div.services-container div.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 1rem 2.5rem 0;
}

section.services div.services-desc div.services-container div.service img.arrow {
  height: 10px;
  width: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.3rem 0.8rem 0 1.2rem;
}

section.services div.services-desc div.services-container div.service div.service-details h4.service-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #005f96;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
}

section.services div.services-desc div.services-container div.service div.service-details h5.service-desc {
  font-size: 1.1rem;
  font-weight: 300;
  color: #005f96;
  font-family: "futura-light-bt";
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.33;
}

section.services div.services-imgs {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.services div.services-imgs img {
  width: 100%;
  min-height: 33%;
  display: block;
}

section.services div.services-imgs .margin_bottom {
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 1800px) {
  section.benifits div.services-desc {
    padding: 2.5rem 5rem 2rem 9rem;
  }
}

@media screen and (max-width: 1800px) {
  section.services div.services-desc {
    padding: 2.5rem 5rem 2rem 7.5rem;
  }
}

@media screen and (max-width: 1200px) {
  section.services div.services-desc {
    padding: 2.5rem 1.5rem 2rem 4.5rem;
  }
  section.services div.services-desc div.services-container div.service {
    padding: 0 1rem 1.5rem 0;
  }
}

@media screen and (max-width: 1000px) {
  section.services div.services-desc {
    padding: 2.5rem 1.5rem 2rem 4rem;
  }
}

@media screen and (max-width: 800px) {
  section.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  section.services div.services-desc {
    padding: 2.5rem 1rem 2rem 1rem;
    width: 100%;
  }
  section.services div.services-desc .services-container {
    height: 0;
    overflow: hidden;
  }
  section.services div.services-desc div.expand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.services div.services-imgs {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  section.services div.services-imgs #service-img2,
  section.services div.services-imgs #service-img3 {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

.btn {
  background-color: #ed7102;
  display: inline-block;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "Gotham-Medium";
  line-height: normal;
  letter-spacing: normal;
  padding: 0.8rem 1.7rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #c56b14;
}

div.indicator-container {
  text-align: center;
  padding: 2rem 0 0 0;
}

button.indicator {
  border: none;
  outline: none;
  background-color: #ffffff;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.3rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

button.active-indicator {
  background-color: #005f96;
  border: 2px solid #37afb9;
  -webkit-box-shadow: 0 0 0 2px #005f96;
          box-shadow: 0 0 0 2px #005f96;
}

.carousel-container {
  position: relative;
  overflow-x: hidden;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-slide-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.carousel-slide-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.owners {
  width: 100%;
  margin: 3.5rem 0;
}

section.owners h4.owner-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futura-bold-bt";
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.33;
}

section.owners div.owners-container {
  width: 60%;
  background-color: #a5d2d2;
  margin: 0 auto;
}

section.owners div.owners-container div.owner-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  height: 2rem;
}

section.owners div.owners-container div.owner-contact h3.bold {
  font-size: 1.5rem;
  font-weight: bold;
  color: #005f96;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
  line-height: 0.54;
  display: inline-block;
  padding: 0 1.5rem;
}

section.owners div.owners-container div.owner-contact h3.bold p.owner-data {
  font-size: 1.5rem;
  font-weight: normal;
  color: #005f96;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
  line-height: 0.54;
  display: inline-block;
}

section.owners div.owners-container div.owner-contact h3.bold p.owner-data:hover {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ed7102;
  font-family: "futurabq-medium";
  line-height: normal;
  letter-spacing: normal;
}

section.owners div.owners-container div.owner-contact h3#contact {
  border-left: 2px solid #005f96;
  line-height: normal;
}
/*# sourceMappingURL=main.css.map */