@import "./vars.scss";

@import "./modules/header.scss";
@import "./modules/about.scss";
@import "./modules/benifits.scss";
@import "./modules/carousel.scss";
@import "./modules/portal.scss";
@import "./modules/services.scss";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
.btn {
  background-color: $orange;
  display: inline-block;
  text-decoration: none;
  align-self: flex-start;
  @include fontstyle(0.9rem, 500, $font_white, "Gotham-Medium");
  padding: 0.8rem 1.7rem;
  transition: 0.3s;
  &:hover {
    transform: scale(0.95);
    background-color: $orange_hover;
  }
}

div.indicator-container {
  text-align: center;
  padding: 2rem 0 0 0;
}
button.indicator {
  border: none;
  outline: none;
  background-color: $font_white;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0.3rem;
  box-sizing: content-box;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

button.active-indicator {
  background-color: $blue_shade3;
  border: 2px solid $blue_shade2;
  box-shadow: 0 0 0 2px $blue_shade3;
}

//Carousel Classes
.carousel-container {
  position: relative;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.carousel-slide-container {
  // width: 400%;
  display: flex !important;
  transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  // transform: translateX(-50%);
  > * {
    flex: 1;
  }
}

//owners
section.owners {
  width: 100%;
  margin: 3.5rem 0;
  h4.owner-title {
    @include fontstyle(1.5rem, bold, $font_blue, "futura-bold-bt");
    text-align: center;
    line-height: 1.33;
  }
  div.owners-container {
    width: 60%;
    background-color: $blue_shade1;
    margin: 0 auto;
    div.owner-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem 0;
      height: 2rem;
      h3.bold {
        @include fontstyle(1.5rem, bold, $font_blue, "futurabq-medium");
        line-height: 0.54;
        display: inline-block;
        padding: 0 1.5rem ;
        p.owner-data {
          @include fontstyle(1.5rem, normal, $font_blue, "futurabq-medium");
          line-height: 0.54;
          display: inline-block;
          &:hover {
            @include fontstyle(1.5rem, normal, $orange, "futurabq-medium");
          }
        }
      }
      h3#contact{
        border-left: 2px solid $font_blue;
        line-height: normal;
      }
    }

    div.owner-carousel-container {
      div.owner-conatiner {
        div.owner {
          img.owner-pic {
          }
          h4.owner-name {
          }
          h5.owner-post {
          }
        }
      }
    }
  }
}
