section.carousel {
  background-color: $blue_shade3;
  width: 100%;
  padding-bottom: 3.5rem;
  div.slides-container {
    div.slide {
      margin: 3.5rem 25rem 0rem;
      h4.slide-title {
        @include fontstyle(18px, 500, $font_white, "futurabq-medium");
        text-align: center;
      }
      h5.slide-desc {
        @include fontstyle(18px, 500, $font_white, "futura-light-bt");
        text-align: center;
        padding: 2rem 4rem;
        line-height: 1.33;
      }
    }
  }
  div.indicator-container {
    padding: 0;
    button.indicator {
      background-color: $blue_shade2;
    }
    button.active-indicator {
      background-color: $font_white;
      border: 2px solid $blue_shade3;
      box-shadow: 0 0 0 1.5px $font_white;
    }
  }
}

@media screen and (max-width: 1200px) {
  section.carousel {
    div.slides-container {
      div.slide {
        margin: 4rem 17rem 1rem;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  section.carousel {
    div.slides-container {
      div.slide {
        margin: 4rem 8rem 1rem;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  section.carousel {
    div.slides-container {
      div.slide {
        margin: 4rem 3rem 1rem;
      }
    }
  }
}
