section.contact-us {
  background-color: $blue_shade3;
  width: 100%;
  padding: 4rem 0;
  h3.contact-title {
    @include fontstyle(1.5rem, bold, $font_white, "futura-bold-bt");
    line-height: 1.33;
    margin-bottom: 2rem;
    text-align: center;
  }
  h4.contact-subtitle {
    @include fontstyle(1.1rem, 300, $font_white, "futura-light-bt");
    line-height: 1.33;
    text-align: center;
    margin-bottom: 2rem;
  }
  div.form-buttons {
    width: 60%;
    min-width: 650px;
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem;
    button.from-btns {
      border: 0;
      outline: 0;
      width: 15rem;
      margin: 0 0.3rem;
      @include fontstyle(1.1rem, 300, $font_white, "futurabq-medium");
      line-height: 24px;
      padding: 0.5rem 0;
      background-color: transparent;
      border: 2px solid white;
      &:hover {
        background-color: white;
        color: $font_blue;
      }
    }
    button.active {
      background-color: white;
      color: $font_blue;
    }
  }
  div.forms {
    width: 45%;
    margin: 0 auto;
    min-width: 650px;
    form.active {
      display: grid !important;
    }
    form.contact-form {
      display: none;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem 2rem;

      div.checkbox-flex{
        display: flex;
        label.checkbox-label{
          flex: 1;
          transform: translateY(-20%);
        }
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        @include fontstyle(1.1rem, 300, $font_white, "futura-light-bt");
        line-height: 1.33;
        padding: 0.3rem 0;
      }
      input[type="text"]::placeholder,
      input[type="email"]::placeholder,
      input[type="tel"]::placeholder {
        @include fontstyle(1.1rem, 300, #a5d2d2, "futura-light-bt");
        line-height: 1.33;
        padding: 0.3rem 0;
      }

      select {
        color: #a5d2d2;
      }
      input[type="checkbox"] {
        appearance: none;
        height: 1.5rem;
        outline: none;
        width: 1.5rem;
        background-color: transparent;
        border: 2px solid white;
        margin: 0 0.3rem 0 0;
        transform: translateY(-20%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          display: none;
          content: "\f00c";
          padding-top: 0.1rem;
          font-size: 0.75rem;
          color: white;
        }
        &::before {
          content: "";
        }
        &:checked {
          // transform: translateY(-5%);
          &::after {
            display: block;
          }
        }
      }
      label {
        @include fontstyle(1.1rem, 300, $font_white, "futura-light-bt");
        line-height: 1.33;
      }
      .full {
        grid-column: span 2;
      }
      .btn-container {
        @include displayflex($justify-content: center);
      }
      .topic-title {
        @include fontstyle(1.1rem, 300, $font_white, "futurabq-medium");
        padding-top: 1.5rem;
        line-height: 1.33;
      }
      .contact-container {
        @include displayflex(column, $justify-content: center);
      }
      .contact,
      .email {
        @include displayflex($justify-content: center);
        p {
          @include fontstyle(0.9rem, 300, $font_white, "futura-light-bt");
          line-height: 1.75;
        }
        p.data {
          @include fontstyle(0.9rem, bold, $font_white, "futura-light-bt");
          line-height: 1.75;
          cursor: pointer;
          :hover {
            @include fontstyle(0.9rem, bold, $orange, "futura-light-bt");
          }
        }
      }
    }
    form#form3 {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem 1.7rem;
      .full {
        grid-column: span 3;
      }
    }
  }
}
@media screen and (max-width: 800px) {

  section.contact-us {
    div.form-buttons {
      width: 90%;
      min-width: 300px;
      flex-direction: column;
      align-items: center;
      button.from-btns {
        margin: 0.4rem 0.3rem;
        width: 100%;
      }
    }
    div.forms {
      min-width: 300px;
      width: 90%;
      form.contact-form {
        .half {
          grid-column: span 2;
        }
      }
      form#form3 {
        gap: 2rem 0rem;
        .half {
          grid-column: span 3;
        }
      }
    }
  }
}
